*{
    margin: 0;
    padding: 0;
}
.movies{
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}
.title{
    margin-top: 60px;
    display: block;
    text-align: center;
    font-size: 40px;
}