*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    margin-left: 1em;
    cursor: pointer;
    color: rgb(181, 0, 0);
    font-weight: bold;
    font-size: 32px;
    -webkit-text-stroke-width: 1.5px;
	-webkit-text-stroke-color: rgba(0, 0, 0, 0.701);
    transition: all 0.5s;
}
.logo:hover{
    transform: scale(1.1);
}
.navbar_list{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}
.navbar_item{
    margin: 1.5em;
    cursor: pointer;
}
.form{
    margin-right: 1em;
}
.input{

}
.button{
    cursor: pointer;
}