*{
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    margin-left: 1em;
    cursor: pointer;
}
.navbar_list{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}
.navbar_item{
    margin: 1.5em;
    cursor: pointer;
}
.form{
    margin-right: 1em;
}
.input{

}
.button{
    cursor: pointer;
}