*{
    margin: 0;
    padding: 0;
}
input { 

    -webkit-appearance : none;
    
    -moz-appearance:none;
    
    appearance:none;
    
border: none;
    }
input:focus {
    outline:none;
    }
ul {
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
button{
    width: 50px;
    margin-left: 5px;
}

body{
    background: whitesmoke;
}
/*header*/
.header{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 80px;
    align-items: center;
}

.header ul{
    list-style: none;
    display: flex;
}
.header ul li{
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 19px;
    font-weight: bold;
}
.searchBar{

}
.searchBar form{

}
.searchBar input{
    padding-left: 10px;
    height: 20px;
    border: 1px solid #000;
    border-radius: 20px;
    height: 30px;
    text-align: center;
}
.searchBar button{
    border: none;
    background-color: transparent;
    font-size: 18px;
}
/*Home*/
.main{
    display: flex;
    justify-content: center;

}
.mainh1{
    display: block;
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;
    margin-top: 40px;
    font-size: 40px;
}

/*slide*/
.slide{
    height: 475px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 920px;
}
.buttonControl button{
    border: 2px solid;
    background-color: transparent;
    margin: 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.btnLeft{
    position: absolute;
    top: 65%;
    left: 80px;
  }

.btnRight{
    position: absolute;
    top: 65%;
    right: 80px
  }

.movie{
    display: flex;
    flex-direction: column;
    width: 230px;
    margin-bottom: 30px;
    text-align: center;
    border: 1px solid #000;
    border-radius: 8px;
    overflow: hidden;
    min-height: 490px;
    min-width: 230px;
}
.img_main{
    width: 230px;
    cursor: pointer;
    margin-bottom: 20px;
}
.title_main{
    font-size: 15px;
    font-style: none;
    color: whitesmoke;
    text-align: center;
}
.h1_main{
    display: block;
    text-align: center;
    margin: 40px;
    font-size: 40px;
    color: whitesmoke;
}
.loading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}
.loading_main{
    display: block;
    text-align: center;
    font-size: 48px;
    color: whitesmoke;
}
.loading img{
    display: block;
    text-align: center;
    width: 80px;
}