*{
    margin: 0;
    padding: 0;
}
input { 

    -webkit-appearance : none;
    
    -moz-appearance:none;
    
    appearance:none;
    
border: none;
    }
input:focus {
    outline:none;
    }
ul {
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
button{
    width: 50px;
    margin-left: 5px;
}

body{
    background: whitesmoke;
}
nav{
    transition: .4s ease;
}
/*header*/
.header{
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 15px;
    align-items: center;
    position: fixed;
    background-color: whitesmoke;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
}
.header_h1{
    text-shadow: 5px 5px #8c9197;
    font-size: 20px;
    font-weight: bold;
}
.header h1 a:hover{
    color: rgb(193, 48, 22);
    font-weight: bold;
}
.nav_menu{
    display: flex;
    justify-content: space-evenly;
}
.nav_menus{
    padding-right: 20px;
    padding-left: 20px;
    font-weight: bold;
    font-size: 18px;
}
.nav_menus a:hover{
    color: tomato;
    font-weight: bold;
}
.searchBar{

}
.searchBar form{

}
.searchBar input{
    padding-left: 10px;
    height: 20px;
    border: 1px solid #000;
    border-radius: 20px;
    height: 30px;
    text-align: center;
}
.searchBar button{
    border: none;
    background-color: transparent;
    font-size: 18px;
}
/*Home*/
.contentsWrap{
    margin-top: 140px;
}
.main{
    display: flex;
    justify-content: center;
}
.mainh1{
    display: block;
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;
    margin-top: 40px;
    font-size: 40px;
    cursor: pointer;
    transition: all 0.2s;
    height: 50px;
}
.mainh1:hover{
    font-size: 43px;
}
.highRaiting,
.romance, 
.animation
{
    position: relative;
    margin-top: 50px;
    max-height: 630px;
}
.music{
    margin-top: 80px;
    max-height: 630px;
    position: relative;
}

/*slide*/
.slide{
    height: 600px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 950px;
}
.buttonControl button{
    border: 2px solid;
    background-color: transparent;
    margin: 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    translate: all 0.2s;
}
.buttonControl button:hover{
    transform: scale(1.1);
}
.btnLeft{
    position: absolute;
    top: 50%;
    left: 100px;
}

.btnRight{
    position: absolute;
    top: 50%;
    right: 100px
}

.img_main{
    width: 230px;
    cursor: pointer;
    margin-bottom: 20px;
}
.title_main{
    font-size: 15px;
    font-style: none;
    color: whitesmoke;
    text-align: center;
}
.loading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}
.loading_main{
    display: block;
    text-align: center;
    font-size: 48px;
    color: whitesmoke;
}
.loading img{
    display: block;
    text-align: center;
    width: 80px;
}

/*movie*/

.movie{
    display: flex;
    flex-direction: column;
    width: 230px;
    margin-bottom: 30px;
    text-align: center;
    box-shadow: 0 19px 38px rgba(0,0,0,.3),0 15px 12px rgba(0,0,0,.22);
    border-radius: 8px;
    overflow: hidden;
    min-height: 500px;
    min-width: 230px;
    max-height: 550px;
    transition: all 0.2s;
    background-color: white;
    margin-left: 5px;
    margin-right: 5px;
}
.movie:hover{
    transform: translateY(10px);
}
.movie h3{
    font-size: 15px;
}
.movie ul{
    margin-top: 10px;
}
/*header scroll*/
.headerChange{
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 15px;
    align-items: center;
    position: fixed;
    background: rgb(245,245,245);
    background: linear-gradient(0deg, rgba(245,245,245,1) 11%, rgba(206,219,201,1) 74%, rgba(204,219,198,1) 82%); 
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
}